<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
		integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="io-=edge">
	<title>Metrics</title>
</head>

<body>
	<p style="margin-left:40% ; margin-right:30%; margin-top:20px">
		welcome to your metrics profiles.
	</p>

	<ul class="nav justify-content-center" style="margin-left:80% ; margin-right:30%; margin-top:1%	">
		<li class="nav-item">
			<a class="btn btn-primary btn-lg active" role="button" href="home">Logout</a>
		</li>
	</ul>
	<div class="col-md-6 col-md-offset-3" style="margin-left:40% ; margin-right:30%; margin-top:20px">
		<button class="btn btn-success" id="show-metrics">
			See my metrics
		</button>
		<div id="metrics"></div>
	</div>
	<script>
			// CODE ENCORE A MODIFIER POUR LES METRICS S'AJOUTE
			// $('#show-metrics').click((e) => {
			// 	e.preventDefault();
			// 	$.getJSON("/metrics.json", {}, (data) => {
			// 		const content = data.map(d => {
			// 			return 'timestamp: ' + d.timestamp + ', value: ' + d.value + '';
			// 		})
			// 		$('#metrics').append(content.join("\n"));
			// 	});
			// })
	</script>

	<div class="col-md-6 col-md-offset-3" style="margin-left:40% ; margin-right:30%; margin-top:20px">
		<button class="btn btn-success" id="show-metrics">
			Add metrics
		</button>
		<div id="metrics"></div>
	</div>
	<script>
		// CODE ENCORE A MODIFIER POUR LES METRICS S'AJOUTE
		// $('#show-metrics').click((e) => {
		// 	e.preventDefault();
		// 	$.getJSON("/metrics.json", {}, (data) => {
		// 		const content = data.map(d => {
		// 			return 'timestamp: ' + d.timestamp + ', value: ' + d.value + '';
		// 		})
		// 		$('#metrics').append(content.join("\n"));
		// 	});
		// })
	</script>

	<div class="col-md-6 col-md-offset-3" style="margin-left:40% ; margin-right:30%; margin-top:20px">
		<button class="btn btn-success" id="show-metrics">
			Update my metrics
		</button>
		<div id="metrics"></div>
	</div>
	<script>
		// CODE ENCORE A MODIFIER POUR LES METRICS S'AJOUTE
		// $('#show-metrics').click((e) => {
		// 	e.preventDefault();
		// 	$.getJSON("/metrics.json", {}, (data) => {
		// 		const content = data.map(d => {
		// 			return 'timestamp: ' + d.timestamp + ', value: ' + d.value + '';
		// 		})
		// 		$('#metrics').append(content.join("\n"));
		// 	});
		// })
	</script>

	<div class="col-md-6 col-md-offset-3" style="margin-left:40% ; margin-right:30%; margin-top:20px">
		<button class="btn btn-success" id="show-metrics">
			Delete metrics
		</button>
		<div id="metrics"></div>
	</div>
	<script>
		// CODE ENCORE A MODIFIER POUR LES METRICS S'AJOUTE
		// $('#show-metrics').click((e) => {
		// 	e.preventDefault();
		// 	$.getJSON("/metrics.json", {}, (data) => {
		// 		const content = data.map(d => {
		// 			return 'timestamp: ' + d.timestamp + ', value: ' + d.value + '';
		// 		})
		// 		$('#metrics').append(content.join("\n"));
		// 	});
		// })
	</script>

	<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
		integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
		crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
		integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
		crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
		integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
		crossorigin="anonymous"></script>
</body>

</html>